---
---

@import "{{ site.theme }}";

#project_title {
    text-align: center;
}

#project_tagline {
    text-align: center;
}

.headerimage {
    background-color: #212121 !important;
    background-image: url('https://images.pexels.com/photos/1037992/pexels-photo-1037992.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

a {
    color: #fff;
    font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
}

a:hover {
    color: #fff;
    text-decoration: none;
    text-shadow:  #000 0px 0px 2px;
    font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
}
#topNav{
    padding-left: 100px;
    padding-right: 100px;
    background-color: #212121 !important;
    box-shadow: #000 0px 0px 8px;
}

#navbar-hamburger, #navbar-search{
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-nav {
    padding-left: 0;
    list-style: none;
}

.nav-item {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    padding-right: 50px;
    display: inline-block;
    text-align: -webkit-match-parent;
}

.navbar-dark .navbar-toggler {
    border-color:transparent !important;
}

.navdiv {
    padding-left: 0px !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
}