---
---

@import "{{ site.theme }}";

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

a {
    color: rgba(255, 255, 255, .5);
}

a:hover {
    color: rgba(255, 255, 255, .5);
    text-decoration: none;
    text-shadow:  #000 0px 0px 2px;
}
#topNav{
    padding-left: 100px;
    padding-right: 100px;
    background-color: var(--main-background-color) !important;
    box-shadow: #000 0px 0px 8px;
}

#navbar-hamburger, #navbar-search{
    color: rgb(188, 188, 188) !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .5) !important;
}

.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-item {
    font-size: 20px;
    padding-right: 50px;
    display: list-item;
    text-align: -webkit-match-parent;
}

.navbar-dark .navbar-toggler {
    border-color:transparent !important;
}

.navdiv {
    padding-left: 0px !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
}