<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,maximum-scale=2">
        <link rel="stylesheet" type="text/css" media="screen" href="{{ 'assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{%seo%}
    </head>
    <body>
        <div id="header_wrap" class="outer">
            <div class = "navdiv">
                <nav class="navbar navbar-expand-lg fixed-top navbar-dark" id="topNav">
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav"> 
                            <li class="nav-item">
                                <a class="nav-link" href="{{site.url}}{{site.baseurl}}">{{site.title}}</a>
                            </li>    
                            <li class="nav-item">
                                <a class="nav-link" href="{{site.url}}{{site.baseurl}}/Milestone2">Milestone 2</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{site.url}}{{site.baseurl}}/Milestone3">Milestone 3</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{site.url}}{{site.baseurl}}/Milestone4">Milestone 4</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <header class="headerimage">
                <h1 id="project_title" style="padding-top: 175px;">HCI Term Project</h1>
                <h2 id="project_tagline" style="margin-bottom:0px; padding-bottom:175px;"> Piazza Hut's Human Computer Interaction Project Site</h2>
            </header>   
        </div>
        <div id="main_content_wrap" class="outer">
            <section id="main_content" class="inner">
              {{ content }}
            </section>
          </div>
    </body>
